
@import '~antd/dist/antd.css';

.App {
  text-align: center;
  margin: 2rem;
}

.logo{
  display: block;
   margin: auto;
}
.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}
.child {
  margin: 0 auto;

  padding-top: 30px;
  padding-bottom: 30px
}


.headerButtons {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 35px

}

body{
  background-color: #ececec;
}

.container {
  display: flex;
  justify-content: center;
}
